<!DOCTYPE html>
<html>
<head>
	<title>User Login</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap" rel="stylesheet">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
	<div class="head-bannar">
	<h2><i class='bx bx-cricket-ball'></i> CricketGPT</h2>
	<nav class="navbar">
		<a href="{{url_for('bot.html')}}">CricketBot</a>
		<a href="{{url_for('history.html')}}">History</a>
		<a href="{{url_for('login.html')}}">Log In</a>
		
	</nav>
	</div>
	<div class="login-box">
		<div class="registration">
		<form>
			<h2>Log In</h2>
			<label for="username">Username</label>
			<input type="text" id="username" name="username" placeholder="Enter username" required>

			<label for="password">Password</label>
			<input type="password" id="password" name="password" placeholder="Enter password" required>

			<input type="submit" value="Login">
		</form>
		</div>
		<div class="summary">
			<h2>CricketGPT</h2>
			<br/>
			<p>The AI bot is a computer program designed to analyze and talk about cricket statistics. The bot can answer a wide range of questions related to cricket statistics, including player records, team rankings, match histories,</p>

		</div>
	</div>
</body>
</html>
