<!-- Exact same as base.html, but we now override the blocks defined in base.html-->
{% extends "base.html" %}
{% block title%} Home {% endblock %}

{% block content %}
<!--<div class="head-bannar">
	<h2><i class='bx bx-cricket-ball'></i> CricketGPT</h2>
	<nav class="navbar"></nav>
	</div> -->
	<div class="card">
        <div class="card-body">
            <div class="card-header">
                <h5 class="card-title">CricketGPT</h5>
                <p class="card-text">A cricket chat bot</p>
            </div>
            <div class="chat-window" id="chat">
            </div>
            <input type="text" id="input-field" placeholder="Type your message...">
            <button onclick="sendMessage()" id="submit-button">Send</button>
            <script>
            const input = document.getElementById('input-field');

                input.addEventListener('keyup', function(event) {
                    // Number 13 is the "Enter" key on the keyboard
                    if (event.key === 'Enter' || event.keyCode === 13) {
                        // Cancel the default action, if needed
                        event.preventDefault();
                        // Trigger the button element with a click
                        sendMessage();
                    }
                });
                
            async function sendMessage() {
                const input = document.getElementById('input-field');
                const chat = document.getElementById('chat');
            
                // Create user message element
                const userMessage = document.createElement('div');
                userMessage.className = 'user-message';
                userMessage.innerText = input.value;
                chat.appendChild(userMessage);
                
                // Send POST request to Flask API
                const response = await fetch('/api', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ message: input.value })
                });
            
                const data = await response.json();
            
                // Create API response message element
                const apiMessage = document.createElement('div');
                apiMessage.className = 'response-message';
                apiMessage.innerText = data.message;
                chat.appendChild(apiMessage);
            
                // Scroll to the bottom of the chat box
                chat.scrollTop = chat.scrollHeight;
            
                // Clear the input field
                input.value = '';
            }
            </script>
            <span id="typing-indicator" class="typing-indicator" style="display: none;"> Bot is typing...
            </span>
        </div>
    </div>
{% endblock %} 