/* CSS for the more general look of the webpage. Navbar, background, flashes */

body {
	background-color: hsl(0, 0%, 100%);
    background-image: url('lords.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'DM Mono', monospace;
}

.head-bannar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: auto;
    height: 4rem;
    width: 100%;
    max-width: 1600px;
    position: relative;
    background-color: #4CAF50;
    color: white;
    font-weight: 100;
}

.head-bannar h2 {
    margin-left: 15px;
}

.navbar {
    /*position: absolute;
    right: 0; */
    display: flex;
    z-index: 9999;  
}
.navbar-custom {
    background-color: #4CAF50 /* Replace with your desired color */
} 

.navbar-custom .navbar-nav .nav-link {
    color: white
}

.navbar-brand .bx {
    font-size: 30px;
    color: white
}

.navbar a {
    font-size: 20px;
    color: white;
    margin-right: 30px;
    text-decoration: none;

}

.navbar a:hover {
    font-size: larger;
    text-decoration: underline;
}

h2 {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-top: 10px;
}

.flash-alert-error {
    position = fixed;
    padding: 10px;
    top: 10px;
    left: 10px;
    background-color:#f5310e;
    color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    }

.flash-alert-success {
    position = fixed;
    padding: 10px;
    top: 10px;
    left: 10px;
    background-color:#4CAF50;
    color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    }


.navbar-collapse {
    position: relative;
    z-index: 1;  /* This will keep the navbar on top of all other elements */
}